@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,600&display=swap');

/* Header */
header { 
    background-color: rgb(238, 151, 90) ;
    top: 0%;
    text-align: center;
    position: sticky;
    bottom:0%
    
}
header img {
    width: 25%;
    height: 25%;
    left: 5%;
}

header h2{
    position:absolute;
    width: 200px;
    left:1.5% ;
    top: 1%;
}
header nav{
    position: absolute;
    right:3% ;
    top: 9%;  
}
header ul{
    list-style-type: none;
}

header h4{
    background: rgb(167, 189, 70);
    position:absolute;
    width: 200px;
    left:1.5% ;
    top: 30%;
    font-family: 'Zilla Slab Highlight', cursive;
}


/* Main */

body{
    width: 100%;
    height: 100%;   
}
main{
    background: hsl(42, 100%, 92%);
}
#imgStyle{
    widows: 25% ;
    height: 25% ;
}

.imgSec img {
    display: inline-block;
    padding: 14px;
    width: 350px;
    height: 250px;
}

td{
    border: 3px rgb(168, 55, 55);

}
table{
    margin: 25px;
    border-collapse:collapse;
    border: solid tomato;
    width: 40%;

}

  th, td {
    background-color: #849157;
    color: white;
    padding: 15px;
  }
td{
    font-family: 'Fraunces', serif;
}

ulStyle{
    display: inline-block;
    text-align: center;
}
.liStyle{
    padding: 14px;
    float: right;
    
}

/* Footer */
footer{
    background-color: rgb(238, 151, 90) ;
    bottom: 0%;
    text-align: center;
    position: sticky;
}
form {
    display: inline-block;
    width: 27%;
}
main nav {
    margin: 25px;
    border-collapse:collapse;
    border: solid tomato;
    width: 10%;
    text-align: center;  
}
    main li{
        list-style-type: none;
        text-align:left ;
    }