header { background-color: rgb(238, 151, 90) ;
    top: 0%;
    text-align: center;
    position: sticky;
    bottom:0%
}

footer{
    background-color: rgb(238, 151, 90) ;
    bottom: 0%;
    text-align: center;
    position: sticky;
}

body{
    width: 100%;
    height: 100%;   
}
#imgStyle{
    widows: 25% ;
    height: 25% ;
}